<!-- Inclure un fichier EJS (eq. <?php include('...') ?>) -->
<% include ./components/header.ejs %>

<main class="login-page">
    <% include ./components/form-login.ejs %>
</main>

<% include ./components/footer.ejs %>