<!-- Inclure un fichier EJS (eq. <?php include('...') ?>) -->
<% include ./components/header.ejs %>

<main class="register-page">
    <% include ./components/form-register.ejs %>
</main>

<% include ./components/footer.ejs %>