<form action="#" id="loginForm">
    <label for="email">Votre email</label>
    <input type="email" id="email" name="email" required minlength="2">

    <label for="password">Votre mot de passe</label>
    <input type="password" id="password" name="password" required minlength="5">

    <button type="submit">Connexion</button>
</form>