<form action="#" id="registerForm">
    <label for="pseudo">Votre pseudo</label>
    <input type="text" id="pseudo" name="pseudo" required minlength="2">

    <label for="email">Votre email</label>
    <input type="email" id="email" name="email" required minlength="2">

    <label for="password">Votre mot de passe</label>
    <input type="password" id="password" name="password" required minlength="5">

    <label for="password-repeate">Répérer passe</label>
    <input type="password" id="password-repeate" name="password-repeate" required minlength="5">
    
    <button type="submit">Inscirption</button>
</form>