<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>VoxPopulis : <%= title %></title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    </head>
    <body>
        <header>
            <!-- Afficher la valeur d'une variable (eq. <?php echo '...' ?>)-->
            <h1>VoxPopulis <span><%= title %></span></h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>

                    <% if(!isLogged) { %>
                        <li><a href="/register">Inscription</a></li>
                        <li><a href="/login">Connexion</a></li>
                    <% } %>

                    <% if(isLogged) { %>
                        <li><a href="/logout">Déconnexion</a></li>
                        <li><a href="/me">Mon compte</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>